google-cloud-discoveryengine
google-cloud-bigquery
google-genai
google-adk[otel-gcp,agent-identity]
google-cloud-agentidentitycredentials
mcp
requests
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp


google-cloud-aiplatform[adk,agent_engines]
google-adk[a2a]==2.9.2
